In [53]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
%matplotlib inline

In [2]:
df = pd.read_csv('Data/income.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
df.apply(lambda x: sum(x.isnull()))

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [27]:
rep = {'<=50K':0, '>50K':1}
df.income = df.income.replace(rep)

In [28]:
df.apply(lambda x: sum(x.isnull()))

age                   0
workclass          2799
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2809
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      857
income                0
dtype: int64

In [29]:
df.replace(['Divorced', 'Married-AF-spouse', 
              'Married-civ-spouse', 'Married-spouse-absent', 
              'Never-married','Separated','Widowed'],
             ['divorced','married','married','married',
              'not married','not married','not married'], inplace = True)

In [30]:
category_col =['workclass', 'race', 'education','marital-status', 'occupation',
               'relationship', 'gender', 'native-country', 'income']

In [31]:
from sklearn.preprocessing import LabelEncoder

In [32]:
labelencoder = LabelEncoder()

In [40]:
df

,age,workclass,education,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,11th,not married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0
1,38,Private,HS-grad,married,Farming-fishing,Husband,White,Male,0,0,50,United-States,0
2,28,Local-gov,Assoc-acdm,married,Protective-serv,Husband,White,Male,0,0,40,United-States,1
3,44,Private,Some-college,married,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1
4,18,Private,Some-college,not married,NaN,Own-child,White,Female,0,0,30,United-States,0
5,34,Private,10th,not married,Other-service,Not-in-family,White,Male,0,0,30,United-States,0
6,29,Private,HS-grad,not married,NaN,Unmarried,Black,Male,0,0,40,United-States,0
7,63,Self-emp-not-inc,Prof-school,married,Prof-specialty,Husband,White,Male,3103,0,32,United-States,1
8,24,Private,Some-college,not married,Other-service,Unmarried,White,Female,0,0,40,United-States,0
9,55,Private,7th-8th,married,Craft-repair,Husband,White,Male,0,0,10,United-States,0
10,65,Private,HS-grad,married,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,1
11,36,Federal-gov,Bachelors,married,Adm-clerical,Husband,White,Male,0,0,40,United-States,0
12,26,Private,HS-grad,not married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,0
13,58,Private,HS-grad,married,NaN,Husband,White,Male,0,0,35,United-States,0
14,48,Private,HS-grad,married,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,1
15,43,Private,Masters,married,Exec-managerial,Husband,White,Male,0,0,50,United-States,1
16,20,State-gov,Some-college,not married,Other-service,Own-child,White,Male,0,0,25,United-States,0
17,43,Private,HS-grad,married,Adm-clerical,Wife,White,Female,0,0,30,United-States,0
18,37,Private,HS-grad,not married,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,0
19,40,Private,Doctorate,married,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,NaN,1
20,34,Private,Bachelors,married,Tech-support,Husband,White,Male,0,0,47,United-States,1
21,34,Private,Some-college,not married,Other-service,Own-child,Black,Female,0,0,35,United-States,0
22,72,Private,7th-8th,divorced,NaN,Not-in-family,White,Female,0,0,6,United-States,0
23,25,Private,Bachelors,not married,Prof-specialty,Not-in-family,White,Male,0,0,43,Peru,0
24,25,Private,Bachelors,married,Prof-specialty,Husband,White,Male,0,0,40,United-States,0
25,45,Self-emp-not-inc,HS-grad,married,Craft-repair,Husband,White,Male,7298,0,90,United-States,1
26,22,Private,HS-grad,not married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
27,23,Private,HS-grad,not married,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States,0
28,54,Private,HS-grad,married,Craft-repair,Husband,White,Male,0,0,35,United-States,0
29,32,Self-emp-not-inc,Some-college,not married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48812,30,Private,Bachelors,not married,NaN,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,0
48813,34,Private,Doctorate,married,Prof-specialty,Husband,White,Male,0,0,60,United-States,1
48814,54,Private,Bachelors,married,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,1
48815,37,Private,Some-college,divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,0
48816,22,Private,12th,not married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,0
48817,34,Private,Bachelors,not married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,1
48818,30,Private,HS-grad,not married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,0
48819,38,Private,Bachelors,divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,1
48820,71,Private,Doctorate,married,NaN,Husband,White,Male,0,0,10,United-States,1
48821,45,State-gov,HS-grad,not married,Adm-clerical,Own-child,White,Female,0,0,40,United-States,0
48822,41,Private,HS-grad,not married,NaN,Not-in-family,Black,Female,0,0,32,United-States,0
48823,72,Private,HS-grad,married,NaN,Husband,White,Male,0,0,25,United-States,0
48824,45,Local-gov,Assoc-acdm,divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,0
48825,31,Private,Masters,divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,0
48826,39,Local-gov,Assoc-acdm,married,Adm-clerical,Wife,White,Female,0,0,20,United-States,1
48827,37,Private,Assoc-acdm,divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,0
48828,43,Private,HS-grad,married,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,0
48829,65,Self-emp-not-inc,Prof-school,not married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,0
48830,43,State-gov,Some-college,divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,0
48831,43,Self-emp-not-inc,Some-college,married,Craft-repair,Husband,White,Male,0,0,50,United-States,0
48832,32,Private,10th,married,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,0
48833,43,Private,Assoc-voc,married,Sales,Husband,White,Male,0,0,45,United-States,0
48834,32,Private,Masters,not married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,0
48835,53,Private,Masters,married,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
48836,22,Private,Some-college,not married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,0
48837,27,Private,Assoc-acdm,married,Tech-support,Wife,White,Female,0,0,38,United-States,0
48838,40,Private,HS-grad,married,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
48839,58,Private,HS-grad,not married,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
48840,22,Private,HS-grad,not married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
48841,52,Self-emp-inc,HS-grad,married,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

In [36]:
df.workclass.value_counts()

Private             33906
Self-emp-not-inc     3862
Local-gov            3136
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: workclass, dtype: int64

In [37]:
df.workclass = df.workclass.fillna('Private')

In [42]:
df.occupation.value_counts()

Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64

In [43]:
df.occupation = df.occupation.fillna('Farming-fishing')

In [48]:
df['native-country'].value_counts()
df['native-country'] = df['native-country'].fillna('United-States')

In [49]:
df.apply(lambda x: sum(x.isnull()))

age               0
workclass         0
education         0
marital-status    0
occupation        0
relationship      0
race              0
gender            0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [50]:
for c in category_col:
    df[c] = labelencoder.fit_transform(df[col])

In [52]:
df

,age,workclass,education,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,3,3,3,3,3,3,3,0,0,40,3,3
1,38,3,3,3,3,3,3,3,0,0,50,3,3
2,28,1,1,1,1,1,1,1,0,0,40,1,1
3,44,3,3,3,3,3,3,3,7688,0,40,3,3
4,18,3,3,3,3,3,3,3,0,0,30,3,3
5,34,3,3,3,3,3,3,3,0,0,30,3,3
6,29,3,3,3,3,3,3,3,0,0,40,3,3
7,63,5,5,5,5,5,5,5,3103,0,32,5,5
8,24,3,3,3,3,3,3,3,0,0,40,3,3
9,55,3,3,3,3,3,3,3,0,0,10,3,3
10,65,3,3,3,3,3,3,3,6418,0,40,3,3
11,36,0,0,0,0,0,0,0,0,0,40,0,0
12,26,3,3,3,3,3,3,3,0,0,39,3,3
13,58,3,3,3,3,3,3,3,0,0,35,3,3
14,48,3,3,3,3,3,3,3,3103,0,48,3,3
15,43,3,3,3,3,3,3,3,0,0,50,3,3
16,20,6,6,6,6,6,6,6,0,0,25,6,6
17,43,3,3,3,3,3,3,3,0,0,30,3,3
18,37,3,3,3,3,3,3,3,0,0,20,3,3
19,40,3,3,3,3,3,3,3,0,0,45,3,3
20,34,3,3,3,3,3,3,3,0,0,47,3,3
21,34,3,3,3,3,3,3,3,0,0,35,3,3
22,72,3,3,3,3,3,3,3,0,0,6,3,3
23,25,3,3,3,3,3,3,3,0,0,43,3,3
24,25,3,3,3,3,3,3,3,0,0,40,3,3
25,45,5,5,5,5,5,5,5,7298,0,90,5,5
26,22,3,3,3,3,3,3,3,0,0,20,3,3
27,23,3,3,3,3,3,3,3,0,0,54,3,3
28,54,3,3,3,3,3,3,3,0,0,35,3,3
29,32,5,5,5,5,5,5,5,0,0,60,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48812,30,3,3,3,3,3,3,3,0,0,99,3,3
48813,34,3,3,3,3,3,3,3,0,0,60,3,3
48814,54,3,3,3,3,3,3,3,0,0,50,3,3
48815,37,3,3,3,3,3,3,3,0,0,39,3,3
48816,22,3,3,3,3,3,3,3,0,0,35,3,3
48817,34,3,3,3,3,3,3,3,0,0,55,3,3
48818,30,3,3,3,3,3,3,3,0,0,46,3,3
48819,38,3,3,3,3,3,3,3,15020,0,45,3,3
48820,71,3,3,3,3,3,3,3,0,0,10,3,3
48821,45,6,6,6,6,6,6,6,0,0,40,6,6
48822,41,3,3,3,3,3,3,3,0,0,32,3,3
48823,72,3,3,3,3,3,3,3,0,0,25,3,3
48824,45,1,1,1,1,1,1,1,0,0,48,1,1
48825,31,3,3,3,3,3,3,3,0,0,30,3,3
48826,39,1,1,1,1,1,1,1,0,0,20,1,1
48827,37,3,3,3,3,3,3,3,0,0,40,3,3
48828,43,3,3,3,3,3,3,3,0,0,40,3,3
48829,65,5,5,5,5,5,5,5,1086,0,60,5,5
48830,43,6,6,6,6,6,6,6,0,0,40,6,6
48831,43,5,5,5,5,5,5,5,0,0,50,5,5
48832,32,3,3,3,3,3,3,3,0,0,40,3,3
48833,43,3,3,3,3,3,3,3,0,0,45,3,3
48834,32,3,3,3,3,3,3,3,0,0,11,3,3
48835,53,3,3,3,3,3,3,3,0,0,40,3,3
48836,22,3,3,3,3,3,3,3,0,0,40,3,3
48837,27,3,3,3,3,3,3,3,0,0,38,3,3
48838,40,3,3,3,3,3,3,3,0,0,40,3,3
48839,58,3,3,3,3,3,3,3,0,0,40,3,3
48840,22,3,3,3,3,3,3,3,0,0,20,3,3
48841,52,4,4,4,4,4,4,4,15024,0,40,4,4

In [54]:
X = df.values[:, 0:12]
Y = df.values[:,12]

X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size = 0.3, random_state = 100)

In [57]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [58]:
dt_clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100,
                               max_depth=5, min_samples_leaf=5)
dt_clf_gini.fit(X_train, y_train)
### Desicion Tree with Information Gain ###

dt_clf_entropy = DecisionTreeClassifier(criterion = "entropy", random_state = 100,
 max_depth=5, min_samples_leaf=5)

dt_clf_entropy.fit(X_train, y_train)

y_pred_gini = dt_clf_gini.predict(X_test)
y_pred_en = dt_clf_entropy.predict(X_test)

print ("Desicion Tree using Gini Index\nAccuracy is ", accuracy_score(y_test,y_pred_gini)*100 )
print ("Desicion Tree using Information Gain\nAccuracy is ", accuracy_score(y_test,y_pred_en)*100 )

Desicion Tree using Gini Index
Accuracy is  100.0
Desicion Tree using Information Gain
Accuracy is  100.0

In [59]:
import pickle

In [60]:
pickle.dump(dt_clf_gini, open("Data/model.pkl", "wb"))